In [1]:
import pandas as pd

In [11]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [12]:
result = pd.merge(left, right)

In [13]:
left

  key   C   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [14]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [15]:
result

Empty DataFrame
Columns: [key, C, B, D]
Index: []